*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: rgb(248, 225, 225);
}

h2 {
    text-transform: uppercase;
    letter-spacing: 20px;
    text-align: center;
    margin-bottom: 2em;
}

.material-icons {
    display: initial;
}

.accordian-container {
    width: min(85%, 600px);
}

.question {
    padding: 0.5em 1em; 
    background: white;
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.12);
    margin-bottom: 1em;
}

.question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    line-height: 1.7;
    transition: all 400ms ease;

    display: none;
}

.btn {
    border: none;
    background: transparent;
    font-size: 1.25rem;
}

/* HIDE TEXT */

.show-answer .answer{
    display: block;
}

.minus-icon {
    display: none;
}

.show-answer .minus-icon {
    display: inline;
}

.show-answer .plus-icon {
    display: none;
}